.App {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 610px) {
  .top-buttons {
    flex-direction: column;
  }

  .top-buttons button {
    margin-top: 10px;
  }

  .about-info {
    flex-direction: column;
  }

  .about-info p {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 570px) {
  input::placeholder {
    font-size: 14px;
  }
}

@media (max-width: 530px) {
  .units-buttons {
    margin-left: 20px;
  }

  .search-button,
  .location-button {
    width: 35px;
    height: 35px;
  }

  input::placeholder {
    font-size: 12px;
  }
}

@media (max-width:500px) {
  .inputs-wrapper {
    flex-direction: column;
  }

  .units-buttons {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 15px;
  }

  .info-buttons {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (max-width: 770px) {
  .main {
    margin-top: 0 !important;
  }
  
  .date-text {
    text-align: center;
  }
}

@media (max-width: 465px) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}